.page-header {
  background: url("//s.scatbay.com/a/banner.jpg") center;
}

.page-logo {
  display: block;
  width: 260px;
  background: url("//s.scatbay.com/a/logo.png") no-repeat center;
  padding: 4rem 0;

  * {
    display: none;
  }
}

.page-footer {
  font-size: .9rem;
  padding: 3rem 0 2rem 0;
  background: $color-border;
  line-height: 2;

  address {
    @extend .text-center;
    font-variant: normal;
  }
}
