{% spaceless %}<!DOCTYPE html>
<html class="no-js" lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <title>{% if __TWIG__.title %}{{ __TWIG__.title }} - {% endif %}文库 - 暴雨湾下</title>
  {% if __TWIG__.keywords %}<meta name="keywords" content="{{ __TWIG__.keywords }}">{% endif %}
  {% if __TWIG__.description %}<meta name="description" content="{{ __TWIG__.description }}">{% endif %}
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link href="//s.scatbay.com/a/apple.png" rel="apple-touch-icon">
  <link href="//s.scatbay.com/a/logo.png" rel="shortcut icon">
  <link href="//cdn.bootcss.com/normalize/4.2.0/normalize.min.css" rel="stylesheet">
  {% block css %}
  {% endblock %}
  <link href="//s.scatbay.com/a/main.min.css" rel="stylesheet">
</head>
<body>
  <!--[if lt IE 9]>
    <p class="page-warning">注意：您的浏览器过于古董，高级交互功能将因此无法使用。请<a href="https://www.baidu.com/s?wd=浏览器下载" target="_blank">升级</a>以获得更好地体验。</p>
  <![endif]-->
  <noscript>
    <p class="page-warning">注意：您的浏览器未启用 JavaScript，高级交互功能将因此无法使用。请<a href="https://www.baidu.com/s?wd=启用JavaScript" target="_blank">启用</a>以获得更好地体验。</p>
  </noscript>
  <div class="page-header">
    <div class="container">HEADER</div>
  </div>
  <div class="container">
    {% block main %}{% endblock %}
  </div>
  <div class="page-footer">
    <div class="container">FOOTER</div>
  </div>
  <script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
  {% block js %}
  {% endblock %}
  <script src="//s.scatbay.com/a/main.min.js"></script>
</body>
</html>{% endspaceless %}
