.markdown {
  font-size: 1rem;
  line-height: 2em;
  color: $color-text;
  word-wrap: break-word;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-text;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  h1,
  h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid $color-border;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  ol,
  ul,
  p {
    margin-top: .5em;
    margin-bottom: .5em;
  }

  ol,
  ul {
    list-style-type: circle;
    padding-left: 2em;
  }

  ol {
    list-style-type: decimal;
  }

  p {
    text-indent: 2em;

    &:first-child {
      text-indent: 0;
    }
  }

  blockquote,
  pre {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  blockquote {
    padding-left: 1em;
    border-left: .25em solid $color-border;
    color: $color-default;
    font-size: .9em;
  }

  table,
  img {
    max-width: 100%;
    margin: 0 auto;
    @include border-radius(.5em);

    @media (min-width: $screen-l) {
      max-width: 90%;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 1px;
  }

  img {
    display: inline;
    border: 1px solid $color-border;
    @extend .text-center;

    &.lazy {
      display: none;
    }
  }

  th, td {
    padding: .25em .5em;
  }

  thead {
    background-color: $color-border;
  }

  td {
    border: 1px solid $color-border;
  }

  code,
  tt {
    font-family: $font-monospace;
    font-size: .8em;
    vertical-align: top;
  }

  p,
  li {
    code,
    tt {
      background-color: $color-border;
      @include border-radius(.5em);
      padding: .3em .6em;
    }
  }

  pre {
    font-family: monospace;
    padding: 1em;
    background-color: #000;
    overflow: auto;
    @include border-radius(.5em);
    line-height: 1.5;

    code {
      color: $color-border;
    }
  }
}
