@import 'misc';

@mixin grids() {
  @include _grids-init();
  @include _grids-make-cols(xs);

  @media (min-width: $screen-s) {
    @include _grids-make-cols(s);
  }
  @media (min-width: $screen-m) {
    @include _grids-make-cols(m);
  }
  @media (min-width: $screen-l) {
    @include _grids-make-cols(l);
  }
  @media (min-width: $screen-xl) {
    @include _grids-make-cols(xl);
  }
}

@mixin _grids-init($list: '.cell-xs-1, .cell-s-1, .cell-m-1, .cell-l-1, .cell-xl-1') {
  @for $col from 2 through $cols {
    $list: '#{$list}, .cell-xs-#{$col}, .cell-s-#{$col}, .cell-m-#{$col}, .cell-l-#{$col}, .cell-xl-#{$col}';
  }
  #{$list} {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: floor($gutter / 2);
    padding-right: ceil($gutter / 2);
    @include border-box;
  }
}

@mixin _grids-make-cols($class) {
  .cell-#{$class}-0 {
    display: none !important;
  }
  @for $col from 1 through $cols {
    .cell-#{$class}-#{$col} {
      width: percentage($col / $cols);
      display: block !important;
    }
  }

  $table-list: 'table.cell-#{$class}-1';
  $tr-list: 'tr.cell-#{$class}-1';
  $td-list: 'th.cell-#{$class}-1, td.cell-#{$class}-1';
  @for $col from 2 through $cols {
    $table-list: '#{$table-list}, table.cell-#{$class}-#{$col}';
    $tr-list: '#{$tr-list}, tr.cell-#{$class}-#{$col}';
    $td-list: '#{$td-list}, th.cell-#{$class}-#{$col}, td.cell-#{$class}-#{$col}';
  }
  #{$table-list} {
    display: table !important;
  }
  #{$tr-list} {
    display: table-row !important;
  }
  #{$td-list} {
    display: table-cell !important;
  }
}
